# build output
dist/
.output/

# generated types
.astro/
*.tsbuildinfo

# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/versions

# caches
.cache/
.npm
.eslintcache
.temp/
.tmp/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.*
!.env.example

# deployment platforms
.vercel/
.netlify/
.wrangler/

# editors and IDEs
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
.DS_Store?
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
